/* GAME BOARD */
#game {
	text-align: center;
	margin: auto;
	height: 100%;
	width: 100%;
}

/* COLOR BUTTONS */
#buttons {
	max-width: 50%;
	max-height: 50%;
	margin: auto;
	stroke: black;
	stroke-width: 0.2em;
}
#yellow {
	fill: #fcee21;
}
#green {
	fill: #00dc00;
}
#red {
	fill: red;
}
#blue {
	fill: blue;
}
#yellow:hover,
#green:hover,
#red:hover,
#blue:hover {
	stroke-width: 0.3em;
}
#yellow:active,
#green:active,
#red:active,
#blue:active {
	stroke-width: 0.2em;
}
.pressed {
	opacity: 0.4;
}

/* CENTER CONTROL */
#control {
	position: absolute;
	top: 29%;
	left: 32%;
	margin: auto;
	width: fit-content;
	height: fit-content;
	/*
	position: relative;
	top: -500px;
	left: -35px;
	margin: auto;
	width: 100%;
	text-align: center;
	font-size: 35px;
	max-width: 200px;
	*/
}

#score {
}

#startButton {
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}