/*General ----------------------------------------------*/

header {
	text-align: center;
}

#container {
 display: block;
 position: relative;
 text-align: center;
 margin: auto;
 height: 100%;
 width: 100%;
}

/*Button Styles -----------------------------------------*/

#buttons {
 max-width: 720px;
 width: 100%;
 height: 100%;
 margin: auto;
 z-index: -1;
 stroke: #000;
 stroke-miterlimit: 10;
 stroke-width: 3px;
}

#yellow {
 fill: #fcee21;
}
#yellow:hover {
 fill: #fcf14f;
	stroke-width: 4px;
}
#yellow:active {
 fill: #c9bc03;
	stroke-width: 3px;
}

#green {
 fill: #00dc00;
}
#green:hover {
 fill: #1aff1a;
	stroke-width: 4px;
}
#green:active {
 fill: #008000;
	stroke-width: 3px;
}

#red {
 fill: red;
}
#red:hover {
 fill: #ff4d4d;
	stroke-width: 4px;
}
#red:active {
 fill: #990000;
	stroke-width: 3px;
}

#blue {
 fill: blue;
}
#blue:hover {
 fill: #3333ff;
	stroke-width: 4px;
}
#blue:active {
 fill: #000099;
	stroke-width: 3px;
}


/*Center Control --------------------------*/

#center {
 position: relative;
 top: -500px;
 left: -35px;
 margin: auto;
 width: 100%;
 text-align: center;
 font-size: 35px;
 max-width: 200px;
}

#menu {
 margin: 20px;
 font-size: 45px;
}

#start {
 margin: 20px;
 font-size: 20px;
}